environment:
  access_token:
    secure: cyNYQsJNo5blyDhjfJzKpxBm6KnSFANjis0f0ft7BcdSP7dZ8Qw4S0EmZ9uyir14

skip_commits:
    message: /(updated readme.*|appveyor:)/

install:
    - cinst pester

build: false

test_script:
    - ps: $PostParams = @{"repo" = $env:APPVEYOR_REPO_NAME }
    - ps: $res = Invoke-Pester -Path ".\powershell\cmdlets" -OutputFormat NUnitXml -OutputFile TestsResults.xml -PassThru
    - ps: (New-Object 'System.Net.WebClient').UploadFile("https://ci.appveyor.com/api/testresults/nunit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path .\TestsResults.xml))
    - ps: if ($res.FailedCount -gt 0) { throw "$($res.FailedCount) tests failed." } else { $Passed = $true }
    - ps: if ($Passed) { $SendToPoshServer = Invoke-WebRequest -Uri http://p.ltg.bz/PsAjax/github.ps1 -Method Post -Body $PostParams }

on_success:
    - git config --global credential.helper store
    - ps: Add-Content "$env:USERPROFILE\.git-credentials" "https://$($env:access_token):x-oauth-basic@github.com`n"
    - git config --global user.email "brian@addicks.us"
    - git config --global user.name "Brian Addicks"
    - git checkout master
    - ps: . .\buildmodule.ps1
    - git add *.psm1
    - git commit -am "appveyor: successfully built psm1 file"
    - git push